.container-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 16px;
    width: 100%;
    height: 6em;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color: hsl(0, 0%, 74%);
    background: hsl(228, 6%, 16%);
    z-index: 990;
}

.content-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    min-width: 1584px;
}

.module-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.module-logo-title {
    font-size: 20px;
    font-weight: 900;
    margin: 0 .8em;
}

.container-banner-tags {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 60em;
}