body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(180deg, hsl(210, 54%, 63%), transparent, transparent) fixed;
}

.container-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 8em;
}

/*header*/
.container-list-action {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    margin-bottom: 1em;
}

.content-list-action {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 1584px;
}

.content-list-action form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 0 8px hsl(228, 4%, 42%);
}

.content-list-action form button[type=submit] {
    position: absolute;
    right: 0;
    height: 100%;
    padding: 0 1em;
    background: hsl(228, 15%, 23%);
    color: white;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;
}

.content-list-action input[type=text][name=require] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    width: 26em;
    height: 2.8em;
    padding: .3em 4.5em .2em .5em;
    color: hsl(0, 0%, 82%);
    background: hsl(240, 20%, 37%);
    border-radius: 8px;
    letter-spacing: 2px;
}

.content-list-action button[type=button] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6em;
    height: 3em;
    padding: 0 1em;
    background: hsl(0, 0%, 95%);
    color: hsl(228, 6%, 16%);
    border: 1px solid hsl(228, 5%, 72%);
    box-shadow: 0 0 8px hsl(228, 4%, 42%);
    border-radius: 8px;
    cursor: pointer;
}

/*list*/
.container-table {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    font-size: 16px;
    min-width: 1584px;
    min-height: 50vh;
    margin-bottom: 2em;
    background: hsl(0, 0%, 100%);
    border: 1px solid hsl(0, 0%, 83%);
    border-radius: 8px;
    box-shadow: 0 0 8px hsl(0, 0%, 81%);
}

.container-table ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.content-table {
    display: grid;
    grid-template-columns: repeat(11, 9em);
    height: 3em;
    color: hsl(208, 100%, 40%);
}

.content-table-title {
    font-weight: 700;
    color: hsl(0, 0%, 0%);
    background: hsl(0, 0%, 95%);
    border-top: 1px solid hsl(0, 0%, 88%);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.content-table div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-bottom: 1px solid hsl(0, 0%, 88%);
    transition: all .1s linear;
}

.content-table div:hover {
    background: hsl(0, 0%, 89%);
}

.content-table button {
    background: transparent;
    color: hsl(223, 73%, 49%);
    transition: all .1s linear;
}

.content-table button:hover {
    color: hsl(356, 86%, 51%);
}