body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(180deg, hsl(210, 54%, 63%), transparent, transparent) fixed;
}

.container-table {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    font-size: 16px;
    min-width: 1584px;
    margin-top: 8em;
    background: hsl(0, 0%, 100%);
    border: 1px solid hsl(0, 0%, 83%);
    border-radius: 8px;
    box-shadow: 0 0 8px hsl(0, 0%, 81%);
}

.content-table {
    display: grid;
    grid-template-columns: repeat(11, 9em);
    height: 3em;
    color: hsl(208, 100%, 40%);
}

.content-table-title {
    font-weight: 700;
    color: hsl(0, 0%, 0%);
    background: hsl(0, 0%, 95%);
    border-top: 1px solid hsl(0, 0%, 88%);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.content-table div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-bottom: 1px solid hsl(0, 0%, 88%);
}

.content-table button {
    background: transparent;
    color: hsl(223, 73%, 49%);
    transition: all .1s linear;
}

.content-table button:hover {
    color: hsl(356, 86%, 51%);
}